@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@keyframes loader-rotate {
  0% {
      transform: rotate(0);
  }
  100% {
      transform: rotate(360deg);
  }
}
.loader {
  border-right-color: transparent;
  animation: loader-rotate 1s linear infinite;
}


@layer components {
  .text-col {
    @apply text-[#F99762];
  }

  .dark-bg {
    @apply bg-[#FDDCCB];
  }

  .light-bg {
    @apply bg-[#FEEAE0];
  }

  .darker-bg {
    @apply bg-[#FBBA96];
  }

  .gray-bg {
    @apply bg-[#f3f4f6];
  }

  .gray2-bg {
    @apply bg-[#e5e7eb];
  }

  .text_12 {
    @apply text-[#000000] text-xs text-[10px] font-normal leading-3;
  }

  .text_14 {
    @apply text-[#000000] xl:text-sm text-xs font-normal;
  }

  .text_16 {
    @apply text-[#000000] xl:text-base text-sm font-normal leading-4;
  }

  .text_18 {
    @apply text-[#000000] xl:text-lg text-base font-normal;
  }

  .text_20 {
    @apply text-[#000000] xl:text-xl text-lg font-normal leading-5;
  }

  .text_24 {
    @apply text-[#000000] xl:text-2xl text-xl font-normal leading-6;
  }

  .text_28 {
    @apply text-[#000000] xl:text-[28px] text-[20px] font-normal leading-6;
  }

  .text_32 {
    @apply text-[#000000] xl:text-[32px] text-[26px] font-normal leading-6;
  }

  .text_34 {
    @apply text-[#000000] xl:text-[34px] text-[26px] font-normal leading-6;
  }

  .input_label {
    @apply block sm:text-sm text-xs font-medium mb-2 text-[#595959] dark:text-[#595959];
  }

  .in_put {
    @apply bg-white border border-[#F99762] text-[#000000] placeholder-[#bdbdbd] rounded-[8px] 
    block w-full focus:border-[#F99762] outline-none focus:border-[1.5px]  px-4
     dark:placeholder-[#bdbdbd] h-[52px];
  }


  .in_pt {
    @apply bg-[#f7f7f7] border-[none]  outline-none  text-[#000000] hover:border-[#F99762]  text-sm
    dark:bg-[#f7f7f7] focus:border-[#F99762]   dark:text-[#000000]  dark:border-[#1a71ff];
  }

  .submit_btn {
    @apply text-base leading-4 text-[#ffffff] h-12  rounded-[8px] bg-[#F99762]
     hover:bg-[#F99762] w-full;
  }

  .short_btn {
    @apply sm:h-12 h-12 rounded-[8px] bg-[#F99762] hover:bg-[#F99762] px-3 text-sm
     text-[#ffffff] font-normal md:px-4;
  }

  .inPut_error {
    @apply border-2 dark:border-[red] outline-none focus:ring-[red] focus:border-[red];
  }

}
